@model RegistrationForm3Task.Models.ConsultationFormModel

<h2>Реєстрація успішна ✅</h2>

<p>Дякуємо, @Model.FirstName @Model.LastName!</p>
<p>Ваш Email: @Model.Email</p>
<p>Дата консультації: @Model.ConsultationDate?.ToString("dd.MM.yyyy")</p>
<p>Обраний продукт: @Model.Product</p>
